{{#each this}}
<li class="list-item" data-movieid="{{id}}">
    <a href="/film/{{id}}" class="item-link">
        <div class="item-image">
      
            <img src="{{img}}" alt="{{originalTitle}}" class="item-poster">
      
        </div>
        <div class="item-info">
            <h4 class=" item-title">{{title}}</h4>

            <div class="item-year">
                <span class="item-year-name">Year: </span>
                <span class="item-year-data">{{year}}</span>
            </div>
            <div class="item-vote">
                <span class="item-vote-name">Vote: </span>
                <span class="item-vote-data">{{vote}}</span>
            </div>
        </div>
    </a>
    <div class="item-overlay">
        <span>LOAD MORE</span>
    </div>
</li>
{{/each}}